{% extends "layout.html" %}
{% block content %}
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-question-circle fa-fw"></i>About</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
          D0x-k1t v2 is the new way for gathering information on a specific target. 
          You can use one of the many tools on the left side of the screen.
          If you know another website you want to see on the D0x-K1t website,
          you can easily contact me via GitHub.
       </div>
     </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user fa-fw"></i>System Analytics</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
          <table class="table">
              <tr>
                <th scope="row">Username: </th>
                <td>{{ user }}</td>
              </tr>
              <tr>
                <th scope="row">Localhost Address: </th>
                <td>{{ localhost }}</td>
              </tr>
              <tr>
                <th scope="row">Local Area Network Address: </th>
                <td>{{ lan_ip }}</td>
              </tr>
          </table>
       </div>
     </div> <!-- panel-body-->
     <div class="panel-heading">
         <h3 class="panel-title"><i class="fa fa-user fa-fw"></i>Development Status</h3>
     </div>
     <div class="panel-body">
      </div> <!-- panel-body-->
  </div> <!-- panel -->
</div> <!-- col-md-4-->

{% endblock %}
